<ion-view title="BM01 Defects" id="page10">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-android-add" ui-sref="tabsController.bM01DefectDetails"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="bM01Defects-list6">
      <ion-item class="item-icon-right" id="bM01Defects-list-item23" ui-sref="tabsController.bM01DefectDetails">15 Feb 11:15 | 20 | Black Spots
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item id="bM01Defects-list-item24" ui-sref="tabsController.bM01DefectDetails">15 Feb 09:30 | 10 | Weight</ion-item>
      <ion-item id="bM01Defects-list-item25" ui-sref="tabsController.bM01DefectDetails">14 Feb 10:30 | 50 | Black Spots</ion-item>
    </ion-list>
  </ion-content>
</ion-view>