<ion-view title="BM01 Faults" id="page9">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-android-add" ui-sref="tabsController.bM01FaultDetails"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="bM01Faults-list5">
      <ion-item class="item-icon-right" id="bM01Faults-list-item20" ui-sref="tabsController.bM01FaultDetails">15 Feb 11:15 - 30min Power Failure
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item id="bM01Faults-list-item21" ui-sref="tabsController.bM01FaultDetails">15 Feb 09:30 - 60min Mechanical</ion-item>
      <ion-item id="bM01Faults-list-item22" ui-sref="tabsController.bM01FaultDetails">14 Feb 10:30 - 15min Settings</ion-item>
    </ion-list>
  </ion-content>
</ion-view>