<ion-view title="BM01 Defect Details" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="bM01DefectDetails-form4" class="list">
      <label class="item item-select" id="bM01DefectDetails-select3">
        <span class="input-label">Select</span>
        <select>
          <option>Black Spots</option>
          <option>Build up</option>
          <option>Brown line</option>
          <option>Under weight</option>
          <option>Short handle</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label" id="bM01DefectDetails-input10" name="date">
        <span class="input-label">Date Time</span>
        <input type="date" placeholder="15 February 2017 09:52:07">
      </label>
      <label class="item item-input item-stacked-label" id="bM01DefectDetails-input11" name="date">
        <span class="input-label">Quantity</span>
        <input type="number" placeholder="Quantity">
      </label>
      <label class="item item-input" id="bM01DefectDetails-input12">
        <input type="text" placeholder="Some Notes">
      </label>
      <a ui-sref="tabsController.bM01Defects" id="bM01DefectDetails-button10" class="button button-positive  button-block">Save</a>
    </form>
  </ion-content>
</ion-view>