<ion-view title="BM 01 Received" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="bM1Received-form2" class="list">
      <label class="item item-input" id="bM1Received-input2">
        <input type="date" placeholder="2017-02-2017">
      </label>
      <label class="item item-input" id="bM1Received-input3">
        <input type="time" placeholder="10:20:00">
      </label>
      <label class="item item-select" id="bM1Received-select1" name="product">
        <span class="input-label">Product</span>
        <select>
          <option>100ml Medical Flat Clear</option>
          <option>75ml Medical Flat Clear</option>
          <option>2ltr PT P/White</option>
          <option>2lt Satin Skin</option>
        </select>
      </label>
    </form>
    <a ui-sref="tabsController.qualityControl" id="bM1Received-button5" class="button button-positive  button-block">Save</a>
  </ion-content>
</ion-view>