<ion-view title="INJ01" id="page7">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.bM1Received" id="iNJ01-button6" class="button button-balanced button-large button-block icon-left ion-android-checkmark-circle">Receive</a>
    <button id="iNJ01-button7" class="button button-energized button-large button-block icon-left ion-bug">Defect</button>
    <button id="iNJ01-button8" class="button button-assertive button-large button-block icon-left ion-android-alert">Fault</button>
  </ion-content>
</ion-view>