<ion-view title="Quality Control" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="qualityControl-list1">
      <ion-item class="item-icon-left item-icon-right assertive" id="qualityControl-list-item1" ui-sref="tabsController.bM01">
        <i class="icon ion-ionic"></i>BM01
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right balanced" id="qualityControl-list-item2" ui-sref="tabsController.bM01">
        <i class="icon ion-ionic"></i>BM02
        <i class="icon ion-checkmark"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="qualityControl-list-item3" ui-sref="tabsController.bM01">
        <i class="icon ion-ionic"></i>BM03
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right assertive" id="qualityControl-list-item4" ui-sref="tabsController.bM01">
        <i class="icon ion-ionic"></i>BM04
        <i class="icon ion-android-bulb"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="qualityControl-list-item5" ui-sref="tabsController.bM01">
        <i class="icon ion-ionic"></i>BM05
        <i class="icon ion-checkmark"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right balanced" id="qualityControl-list-item6" ui-sref="tabsController.iNJ01">
        <i class="icon ion-ionic"></i>INJ01
        <i class="icon ion-checkmark"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>