<ion-view title="Report Details" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          <strong>Avail</strong>
        </div>
        <div class="col">
          <strong>Perf</strong>
        </div>
        <div class="col">
          <strong>OEE</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a ui-sref="tabsController.bM01Details">
            <strong>BM01</strong>
          </a>
        </div>
        <div class="col assertive">
          63%
        </div>
        <div class="col assertive">
          53%
        </div>
        <div class="col assertive">
          33%
        </div>
      </div>
      <div class="row">
        <div class="col">
          <strong>BM02</strong>
        </div>
        <div class="col balanced">
          100%
        </div>
        <div class="col assertive">
          74%
        </div>
        <div class="col energized">
          74%
        </div>
      </div>
      <div class="row">
        <div class="col">
          <strong>BM03</strong>
        </div>
        <div class="col balanced">
          100%
        </div>
        <div class="col assertive">
          51%
        </div>
        <div class="col assertive">
          51%
        </div>
      </div>
      <div class="row">
        <div class="col">
          <strong>BM04</strong>
        </div>
        <div class="col energized">
          92%
        </div>
        <div class="col energized">
          78%
        </div>
        <div class="col energized">
          72%
        </div>
      </div>
      <div class="row">
        <div class="col">
          <strong>TARGET</strong>
        </div>
        <div class="col">
          95%
        </div>
        <div class="col">
          85%
        </div>
        <div class="col">
          81%
        </div>
      </div>
      <div class="row">
        <div class="col">
          <strong>VAR</strong>
        </div>
        <div class="col">
          -27%
        </div>
        <div class="col">
          -32%
        </div>
        <div class="col">
          -45%
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>